body {
  background-color: black;
  color: white;
}

#light-bulbs {
  top: 200px;
  left: 500px;
  height: 200px;
  width: 500px;
  position: relative;
}

.bulb {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: green;
  margin: 5px;
  display: inline-block;
  border-radius: 10px;
  -webkit-transition: background-color 0.1s ease-out;
  -moz-transition: background-color 0.1s ease-out;
  -o-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
}

.bulb.chosen {
  background: red;
}

.bulb.active {
  background-color: yellow;
}
#bulbs {
  text-align: center;
  width: 300px;
  margin-left: 224px;
  margin-top: 160px;
}
